
<div class="signinout-form">
<form>
  <h2>Ajout d'un avis</h2>
  <div class="form-group">
    <label for="ajouteravis">Avis</label>
    <input type="avis" class="form-control" id="ajouteravis" aria-describedby="ajouteravis" placeholder="Veuillez donner votre avis">
    <small id="nom" class="form-text text-muted">We'll never share your information with anyone else.</small>
  </div>
  <br>
  <div class="form-group">
    <select class="form-select" aria-label="Default select example">
      <option selected>Choisir un jeu</option>
      <option>GTA</option>
      <option>Fortnite</option>
      <option>WOW</option>
      <option>Forge of Empire</option>
      <option>Candy Crush</option>
      </select>
  </div>
  <br>
  <div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2">Descrption</label>
  </div>
  <br>
  <select class="form-select" aria-label="Default select example">
    <option selected>Note attribuée</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    </select>
    <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<div class="text-center">Vous voulez ajouter un jeu? <a href="/ajoutjeu" class="nav-link" routerLink="/ajoutjeu">Go Go Go</a></div>
