
<div class="signinout-form">
<form>
  <h2>Ajout d'un jeu</h2>
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="nom" class="form-control" id="nom" aria-describedby="nom" placeholder="Veuillez mettre votre nom">
    <small id="nom" class="form-text text-muted">We'll never share your information with anyone else.</small>
  </div>
  <br>
  <div class="form-group">
    <select class="form-select" aria-label="Default select example">
      <option selected>Veuillez choisir l'Editeur</option>
      <option>Takashi</option>
      <option>Sony</option>
      <option>Google</option>
      <option>Sega</option>
      <option>Toshiba</option>
      </select>
  </div>
  <br>
  <div class="mb-3">
    <label for="datesortie" class="form-label">Date de sortie</label>
    <input type="date" class="form-control" id="date">
  </div>
  <br>
  <div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2">Description</label>
  </div>
    <br>
  <div class="form-group">
    <select class="form-select" aria-label="Default select example">
      <option selected>Veuillez choisir le genre</option>
      <option>Action</option>
      <option>Sport</option>
      <option>Cape et d'épée</option>
      <option>Héroique Fantaisie</option>
      <option>Educatif</option>
      </select>
  </div>
  <br>
  <div class="form-group">
    <select class="form-select" aria-label="Default select example">
    <option selected>Classification</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    </select>
    </div>
  <br>
  <div class="form-group">
    <select class="form-select" size="3" aria-label="size 3 select example">
    <option selected>Veuillez choisir la plateforme</option>
    <option>Windows</option>
    <option>PlayStation</option>
    <option>PlayStation 2</option>
    <option>Nintendo</option>
    </select>
    </div>
<br>
<div class="form-group">
  <select class="form-select" aria-label="Default select example">
  <option selected>Veuillez choisir le modèle économique</option>
  <option>L'achat-revente</option>
  <option>La récupération pour revente</option>
  <option>La production en propre</option>
  <option>L'abonnement</option>
  <option>Le remplissage</option>
  <option>La vente directe</option>
  <option>L'innovation permanente</option>
  <option>Le commissionnement</option>
  </select>
  </div>
<br>
<button type="submit" class="btn btn-primary">Submit</button>
<br>
</form>
</div>




























