<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Avis</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex">
        </div>
      </div>
    </div>
  </nav>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Date d'envoi</th>
        <th scope="col">Nom du jeu</th>
        <th scope="col">Pseudo du joueur</th>
        <th scope="col">Image</th>
        <th scope="col">Statut</th>
        <th scope="col">Opérations</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <tr>
        <th scope="row">1</th>
        <td>18/01/2022<br>08:12</td>
        <td>Fortnite</td>
        <td>C.LAURENT</td>
        <td>15</td>
        <td></td>
        <td>A modérer</td>
        <td><a href="#">Voir</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>18/01/2022<br>09:22</td>
        <td>Fortnite</td>
        <td>KISHIMOTO</td>
        <td>17</td>
        <td>Modéré par Chloé</td>
        <td>A modérer</td>
        <td><a href="#">Voir</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>18/01/2022<br>09:22</td>
        <td>F</td>
        <td>Roy</td>
        <td>17</td>
        <td>Modéré par Chloé</td>
        <td>A modéré</td>
        <td><a href="#">Voir</a></td>
      </tr>
    </tbody>
    <tfoot>
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </tfoot>
  </table>
</div>
<!-- Vertically centered modal -->
<div class="modal-dialog modal-dialog-centered">
  ...
</div>

<!-- Vertically centered scrollable modal -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  ...
</div>
