<!-- <div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div> -->
<div class="container">
  <h2 class="text-center text-info bg-succes p-4">Bienvenue dans notre application d'avis gamer</h2>
<!--
  <div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://ad962edbae8ba7b03b7f-d10007df79b5b7a4e475a291e50a08cf.ssl.cf3.rackcdn.com/2366/business-plan-bar-gaming.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div> -->

  <div class="card bg-dark text-white">
    <img src="https://image.coolblue.be/1248x535/content/e111e2396926a48e16264f916113e07f" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Gamin space</h5>

    </div>
  </div>

</div>
